.push-config-table .ant-table-thead > tr > th {
  background: #fafafa;
  font-weight: 600;
  padding: 12px 16px !important;
  text-align: center;
}

.push-config-table .ant-table-tbody > tr > td {
  padding: 10px 16px !important;
  text-align: center;
}

.push-config-table .ant-table-tbody > tr {
  height: 52px;
}

.push-config-table .ant-table-tbody > tr > td:first-child {
  text-align: center;
}

